services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: logistics
    ports:
      - "5432:5432"
    volumes:
      - logistics_app_data:/var/lib/postgresql/data

volumes:
  logistics_app_data: