services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: logistics
    ports:
      - "5432:5432"
    volumes:
      - logistics_app_data:/var/lib/postgresql/data
